
 .flag {
    width: 500px;
    height: 300px;
    
      &__block {
        width: 500px;
        height: 33.33%;
        &:nth-child(1) {
          background-color: black;
        }
        &:nth-child(2){
          background-color: gold;
        }
        &:nth-child(3) {
          background-color: red;
        }
      }

    @media (max-width: 599px) {
        &__block {
            height: 130px;
            width: 200px;
        }
    }

    @media (max-width: 1023px) {
            & {
                display: flex;
                width: 33.33%;
                height: 100%;
            }
        }
    @media (min-width: 1024px) {
           &__block {
                    width: 100%;
                    height: 33.333%;
           }
    }
}